@import "./typography.scss";
@import "./menu.scss";

body {
  width: 100vw;
  min-height: 100vh;

  background-color: #212121;
  -js-display: flex;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  align-items: center;

  main {
    background-color: #212121;
    color: #fafafa;
  }
  main,
  section {
    max-width: 44rem;
    position: relative;
    width: 100%;
    -js-display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    min-height: 100vh;

    &.small {
      height: calc(2rem * 2 + 2rem);
      min-height: auto;
    }

    &.medium {
      min-height: calc(100vh - (2rem * 2 + 2rem));
    }
  }

  section {
    &.sect1 {
      h1,
      h2 {
        align-self: flex-start;
        z-index: 1;
        transform: translateY(-2rem);
      }
      & > img {
        align-self: flex-end;
        height: 50vh;
        transform: translateX(45%);
        border-radius: 0.7rem;
        background-color: var(--color0, #ff9800);
      }

      .social {
        align-self: start;
        -js-display: flex;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
        img {
          filter: grayscale(100%) opacity(0.3);
          transition-duration: 1s;
          border-radius: 50%;
          &:hover {
            filter: grayscale(0) opacity(1);
          }
        }
      }
    }

    & > h2 {
      transform: translateY(-50%);
    }

    &.sect2 {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 3rem;
      h3 {
        text-align: center;
        width: 100%;
      }

      & > div {
        width: 100%;
        -js-display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          color: #fafafa;
        }
      }

      a {
        position: relative;
        width: 15rem;
        height: calc(9 / 16 * 15rem);
        justify-content: center;
        align-items: center;
        -js-display: flex;
        display: flex;
        text-decoration: none;
        margin: 1rem 0.3rem;
        overflow: hidden;
        border-radius: 0.7rem;
        &:not(.more-btn) {
          background: var(--color1, #009688);
        }

        &.unsplit {
          width: 100%;
          height: calc(9 / 16 * 15rem / 2);
          img {
            width: 100%;
          }
        }

        img {
          width: 15rem;
          height: calc(9 / 16 * 15rem);
          z-index: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          filter: blur(0);
          transition: filter 1s;
        }

        & > p {
          color: #fafafa;
          text-transform: uppercase;
          text-align: center;
        }

        &.more-btn {
          transform: translate(0.7rem, 0.7rem);
          background-color: #00695c;

          &:hover {
            background-color: #009688;
          }
        }

        div {
          width: 100%;
          height: 100%;
          -js-display: flex;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          background: var(--color1, #00695c);
          z-index: 1;
          &,
          * {
            transition: opacity 1s;
          }
          p {
            color: #fafafa;
            text-transform: uppercase;
            text-align: center;
          }
        }

        &:hover,
        &:active,
        &:focus {
          div {
            opacity: 0.5;
          }

          img {
            filter: blur(10px);
          }
        }
      }
    }

    &.sect5 {
      a.more-btn {
        background: #689f38;

        &:hover {
          background: #8bc34a;
        }
      }
    }

    &.sect3,
    &.sect5 {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 2rem;

      h3 {
        text-align: center;
        width: 100%;
      }

      a {
        text-decoration: none;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        -js-display: flex;
        display: flex;
        color: #fafafa;
        &:not(.more-btn),
        &.more-btn.unsplit {
          padding: 2rem;
          border-radius: 0.7rem;
          width: 100%;
          margin: 0.7rem;
          &.more-btn.unsplit {
            padding-top: 1rem;
            padding-bottom: 1rem;
          }
        }
        &.more-btn:not(.unsplit) {
          padding: 2rem 0;
          width: calc(50% - 0.3rem);
        }
        transition-duration: 1s;
      }

      & > div {
        justify-content: center;
        align-items: center;
        -js-display: flex;
        display: flex;
        width: 100%;
        height: 100%;
        transform: translate(0.7rem, 0.7rem);
      }
    }

    &.sect4 {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 3rem;
      h3 {
        text-align: center;
        width: 100%;
      }

      & > div {
        width: 100%;
        -js-display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          color: #fafafa;
        }
      }

      a {
        position: relative;
        width: 15rem;
        height: calc(9 / 16 * 15rem);
        justify-content: center;
        align-items: center;
        -js-display: flex;
        display: flex;
        text-decoration: none;
        margin: 1rem 0.3rem;
        overflow: hidden;
        border-radius: 0.7rem;
        &:not(.more-btn) {
          background: var(--color1, #00bcd4);
        }

        &.unsplit {
          width: 100%;
          height: calc(9 / 16 * 15rem / 2);
          img {
            width: 100%;
          }
        }

        img {
          width: 15rem;
          height: calc(9 / 16 * 15rem);
          z-index: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          filter: blur(0);
          transition: filter 1s;
        }

        & > p {
          color: #fafafa;
          text-transform: uppercase;
          text-align: center;
        }

        &.more-btn {
          transform: translate(0.7rem, 0.7rem);
          background-color: #d84315;

          &:hover {
            background-color: #ff5722;
          }
        }

        div {
          width: 100%;
          height: 100%;
          -js-display: flex;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          background: var(--color1, #00bcd4);
          z-index: 1;
          &,
          * {
            transition: opacity 1s;
          }
          p {
            color: #fafafa;
            text-transform: uppercase;
            text-align: center;
            padding: 0.5rem;
            margin: 0.3rem 0;

            &.small {
              font-size: 0.7em;
            }
          }
        }

        &:hover,
        &:active,
        &:focus {
          div {
            opacity: 1;
          }

          img {
            filter: blur(10px);
          }
        }
      }
    }
  }

  & > *:not(section) {
    padding: 0rem;
  }
}

img {
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

$remVal: 16pt;

:root {
  font-size: $remVal;
  --color0: #ff9800;
  --bgColor0: #ef6c00;
  --color1: #009688;
  --bgColor1: #00695c;
  --color2: #673ab7;
  --bgColor2: #4527a0;
  --color3: #ff5722;
  --bgColor3: #d84315;
}

@media screen and(max-width:$remVal * 44) {
  body {
    main {
      section {
        &.sect1 {
          h1,
          h2 {
            text-align: center;
            align-self: center;
          }

          h1 {
            font-size: 4rem;
          }

          & > img {
            align-self: center;
            height: 35vh;
            transform: translate(0%, 0%);
            width: calc(35vh * 16 / 9);
            max-width: 100%;
          }

          .social {
            align-self: center;
            transform: translate(0%, 100%);
          }
        }
      }
    }
  }
}
@media screen and(max-width:$remVal * 37) {
  body {
    main {
      section {
        &.sect2,
        &.sect4 {
          a,
          a img,
          a div {
            width: 50vw;
            height: calc(50vw * 9 / 16);
          }
          justify-content: center;
        }
        &.sect1 {
          .social {
            width: 100%;
          }
        }
      }
    }
  }
}

.box-0 {
  border: solid 0.3rem var(--color0, #ff9800);
  filter: blur(0);
  box-shadow: 0.7rem 0.7rem var(--bgColor0, #ef6c00);

  &:hover:not(.no-hover) {
    background: var(--color0, #ff9800);
  }
}

.box-1 {
  border: solid 0.3rem var(--color1, #00bcd4);
  filter: blur(0);
  box-shadow: 0.7rem 0.7rem var(--bgColor1, #00838f);

  &:hover:not(.no-hover) {
    background: var(--color1, #00bcd4);
  }
  box-sizing: content-box;
}

.box-2 {
  border: solid 0.3rem var(--color2, #673ab7);
  filter: blur(0);
  box-shadow: 0.7rem 0.7rem var(--bgColor2, #4527a0);

  &:hover:not(.no-hover) {
    background: var(--color2, #673ab7);
  }
}

.box-3 {
  border: solid 0.3rem var(--color1, #ff5722);
  filter: blur(0);
  box-shadow: 0.7rem 0.7rem var(--bgColor1, #d84315);

  &:hover:not(.no-hover) {
    background: var(--color1, #ff5722);
  }
}
