nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  // top_bottom * 2 + line_height
  height: calc(2rem * 2 + 2rem);
  font-size: 1.2rem;
  line-height: 2rem;
  -js-display: flex;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  li {
    list-style: none;
  }
  a {
    color: #fafafa;
    padding: 2rem 0.5rem;
    text-decoration: none;

    &.nav-selected {
      color: #757575;
      cursor: default;
    }
  }
}

@media screen and(max-width:900px) {
  nav {
    position: static;
    display: block;
    ul {
      flex-direction: column;
    }
    height: 50vh;
  }
}
